asgiref==3.5.2
css==0.1
Django==4.0.6
docx==0.2.4
et-xmlfile==1.1.0
lxml==4.9.1
openpyxl==3.0.10
Pillow==9.2.0
python-docx==0.8.11
sqlparse==0.4.2
style==1.1.0
tzdata==2022.1
update==0.0.1
xlrd==2.0.1
XlsxWriter==3.0.3
