* {
    font-size: 12pt;
    font-family: Arial;
}

html, body, header, main, nav, article, aside,
.filters, #filter_fieldset, select, .search, .search_form,
.register_window, .register_form, .login_window, .login_form,
.upload_files, #upload_files_form, #file_input_string {
    display: flex;
}

html {
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    flex-direction: column;

    width: 1400px;
    height: 100%;
    margin: 5px;
}

header {
    justify-content: space-around;
    width: 100%;
}

nav {
    flex-direction: column;
    justify-content: space-evenly;


}

.logo {
    width: 200px;
    margin: 5px ;
}

.upload_files {
    align-items: center;
    justify-content: center;
}

#upload_files_form {
    height: fit-content;
    flex-direction: column;
}

#file_input_string {
    width: 265px;
}

#upload_file_button {
    width: 100%;
}

.authorization {
    width: 250px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
}

main {
    width: 100%;
    height: auto;
    border: 2px gray solid;
    border-radius: 5px;
}

aside {
    border-right: 2px gray solid;
    padding: 15px 5px 5px 5px;
    flex-direction: column;
}

.search_form {

}
#search_string {
    width: 150px;
}

.filters {
    flex-direction: column;
    align-items: stretch;;
}

#filter_fieldset {
    flex-direction: column;
    margin: 0;
    }

select {
    margin: 3px;
}

#filter_button {
    margin-top: 20px;
}

article {
    flex-direction: column;
    height: 100%;

}

.table {
    border-top: 0;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    width: 100%;
}

.table  tr  td{
    border: 1px grey dotted;
    margin: 0;
    padding: 5px;
    border-spacing: 0;
    text-align: center;
}

.table tr th {
    border: 2px grey solid;
    margin: 0;
    padding: 5px;
    border-spacing: 0;
    text-align: center;
}

.register_window {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.register_form {
    margin-top: 30px;
    flex-direction: column;
    width: fit-content;
}

.register_form_string {
    margin: 5px 5px 0 0;
    text-align: right;
}

.register_form_label {
    float: left;
    margin-right: 10px;
}

#register_button {
    margin-top: 10px;
    width: 100%;
}

.error_message {
    color: red;

}

.error_message_block {
    text-align: center;
    margin-top: 20px;
}

.login_window {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.login_form {
    margin-top: 30px;
    flex-direction: column;
    width: fit-content;
}

.login_form_string {
    margin: 5px 5px 0 0;
    text-align: right;
}

.login_form_label {
    float: left;
    margin-right: 10px;
}

#login_button {
    margin-top: 10px;
    width: 100%;
}