* {
    font-size: 12pt;
    font-family: Arial;
}

html, body, header, main, nav, article, aside,
.filters, #filter_fieldset, select, .search, .search_form,
.register_window, .register_form, .login_window, .login_form,
.upload_files, #upload_files_form, #file_input_string, .exception_window {
    display: flex;
}

html {
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    flex-direction: column;
    margin: 0;
    padding: 5px;
    width: fit-content;
    height: 100%;
}

header {
    justify-content: space-around;
    width: 100%;
}

nav {
    flex-direction: column;
    justify-content: space-evenly;


}

.logo {
    width: 200px;
    margin: 5px ;
}

.upload_files {
    align-items: center;
    justify-content: center;
}

#upload_files_form {
    height: fit-content;
    flex-direction: column;
}

#file_input_string {
    width: 265px;
}

#upload_file_button {
    width: 100%;
}

.authorization {
    width: 250px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
}

main {
    width: 100%;
    border: 2px gray solid;
    border-radius: 5px;
    padding-bottom: 15px;
}

aside {
    border-right: 2px gray solid;
    padding: 15px 5px 5px 5px;
    flex-direction: column;
}

.search_form {

}
#search_string {
    width: 150px;
}

.filters {
    flex-direction: column;
    align-items: stretch;;
}

#filter_fieldset {
    flex-direction: column;
    margin: 0;
    }

select {
    margin: 3px;
}

#filter_button {
    margin-top: 20px;
}

article {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5px;


}

.article_header {
    display: flex;
    justify-content: center;
    border: 2px solid grey;
    border-radius: 5px;
}

.invoice_requisites_block {
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.table_shell {
    border: 2px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.table_area {
    width: fit-content;
}

.table_header {
    border: none;
}

.table  tr  td{
    margin: 0;
    border-spacing: 0;
    text-align: center;
}

.table tr th {
    margin: 0;
    padding: 10px;
    border-spacing: 0;
    text-align: center;
}

.data_input {
    border: none;
    text-align: center;
    margin-bottom: 5px;
}
.table_row {
    border: 1px solid black;
}

.table_row td input{
    width: 7ch;
}

.table_row td .choice_variant{
    width: 2ch;
}

.pages_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1050px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.lower_buttons_block {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left_buttons_block {
    display: flex;

}

.right_buttons_block {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    width: fit-content;
    align-items: flex-end;
}
.buttons {
    margin-top: 5px;
    margin-bottom: 5px;
}

.register_window, .exception_window {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-items: center;
    flex-direction: column;
}

.register_form . {
    margin-top: 30px;
    flex-direction: column;
    width: fit-content;
}

.register_form_string {
    margin: 5px 5px 0 0;
    text-align: right;
}

.register_form_label {
    float: left;
    margin-right: 10px;
}

#register_button {
    margin-top: 10px;
    width: 100%;
}

.error_message {
    color: red;

}

.error_message_block {
    text-align: center;
    margin-top: 20px;
}

.login_window {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.login_form {
    margin-top: 30px;
    flex-direction: column;
    width: fit-content;
}

.login_form_string {
    margin: 5px 5px 0 0;
    text-align: right;
}

.login_form_label {
    float: left;
    margin-right: 10px;
}

#login_button {
    margin-top: 10px;
    width: 100%;
}


.modal {
    position: absolute;
    border: none;
    border-radius: 10px;
    top: 0;
    left: 0;
    padding: 0;
}

.modal::backdrop {
    background-color: black;
    opacity: 0.7;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalWindow {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0 .4);
    background-color: #fff;
    padding: 30px;
}

.closeModal {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    opacity: 0.7;
}

.closeModal:hover {
    opacity: 1;
}

.modal_title {
    align-items: center;
    text-align: center;
    height: 50px;
}

.modal_descr {
    display: flex;
}

.attr_name {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-left: 30px;
}

.attr_value {
    display: flex;
    flex-direction: column;
}

.exception_window()