{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Справочник изделий</title>
    <link rel="stylesheet" type="text/css" href="{% static 'product_guide/style.css' %}">
</head>
<body>
<header>
    <div class="logo">
        <img src="{% static 'product_guide/logo.png' %}" width="200px" height="100px" alt="Логотип">
    </div>
    <nav>
        <a href="{% url 'product_base'%}">Изделия</a>
        <a href="#">Клиенты</a>
        <a href="#">Контрагенты</a>
    </nav>
    <div class="upload_files">
        <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data" name="upload_files_form" id="upload_files_form">
            {% csrf_token %}
            <fieldset>
                <legend>Загрузить документ</legend>
                <input type="file" id="file_input_string">
                <button type="submit" id="upload_file_button">Загрузить файл</button>
            </fieldset>
        </form>
    </div>
    <div class="authorization">
        {% if request.user.is_authenticated %}
            {{ request.user }}  |
        |
            <a href="{% url 'logout' %}">Выход</a>
        {% else %}
            <a href="{% url 'register' %}">Регистрация </a> | <a href="{% url 'login' %}"> Войти</a>
        {% endif %}
    </div>
</header>
<main>
    {% block main %}
    {% endblock %}
</main>

</body>
</html>