{% extends "product_guide\base.html" %}
{% block main %}

    <aside>
        <div class="search">
            <form class="search_form" action="" method="get">
                <input id="search_string" type="text" placeholder="Поиск изделий..." name="search_string">
                <button type="submit">Найти</button>
            </form>
        </div>
        <div class="filters">
            <form action="" method="get">
            <fieldset id="fieldset">
                <legend><h4>Фильтра</h4></legend>
                <select name="name" id="name">
                    <option value="all">Изделие</option>
                    <option value="Кольцо">Кольца</option>
                    <option value="Серьги">Серьги</option>
                    <option value="Цепь">Цепи</option>
                    <option value="Браслет">Браслеты</option>
                </select>
                <select name="metal" id="metal">
                    <option value="all">Металл</option>
                    <option value="Золото 585">Золото 585</option>
                    <option value="Серебро 925">Серебро 925</option>
                </select>
                <select name="availability_status" id="availability_status">
                    <option value="all">Наличие</option>
                    <option value="в наличии">в наличии</option>
                    <option value="продано">продано</option>
                </select>
            <button id="filter_button" type="submit">Показать</button>
                </fieldset>
            </form>
        </div>
    </aside>

    <article>
        <table class="table">
            <tr class="table_header">
                <th>Вид изделия</th>
                <th>Металл</th>
                <th>Вес</th>
                <th>Артикул</th>
                <th>Штрихкод</th>
                <th>УИН</th>
                <th>Статус наличия</th>
                <th>Статус рег-ции в ГИИС</th>
                <th>Статус ГИИС</th>
            </tr>

            {% for product in product_list %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.metal }}</td>
                    <td>{{ product.weight }} гр</td>
                    <td>{{ product.vendor_code }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.uin }}</td>
                    <td>{{ product.availability_status }}</td>
                    <td>{{ product.giis_reg_status }}</td>
                    <td>{{ product.giis_status }}</td>
                </tr>
            {% endfor %}
        </table>
        <script>
<!--            const filters_list = document.querySelector('.filters'),-->
<!--                prod_list = document.getElementById("prod_list").value;-->
<!--                for (let prod of prod_list){console.log(prod)}-->


        </script>
    </article>
{% endblock %}
