{% extends "product_guide/base.html" %}
{% block main %}

    <aside>
        <div class="search">
            <form class="search_form" action="" method="post">
                {% csrf_token%}
                <input id="search_string" type="text" placeholder="Поиск изделий..." name="search_string">
                <button type="submit">Найти</button>
            </form>
        </div>
        <div class="filters">
            <form action="{% url 'upload_file' %}" method="post">
                {% csrf_token %}
                <fieldset id="filter_fieldset">
                    <legend><h4>Фильтр</h4></legend>
                    <select name="name" id="name" >
                        <option value="all">Изделие</option>
                        <option value="Кольцо">Кольца</option>
                        <option value="Серьги">Серьги</option>
                        <option value="Цепь">Цепи</option>
                        <option value="Браслет">Браслеты</option>
                    </select>
                    <select name="metal" id="metal">
                        <option value="all">Металл</option>
                        <option value="Золото 585">Золото 585</option>
                        <option value="Серебро 925">Серебро 925</option>
                    </select>
                    <select name="availability_status" id="availability_status">
                        <option value="all">Наличие</option>
                        <option value="в наличии">в наличии</option>
                        <option value="продано">продано</option>
                        <option value="передано">передано</option>
                    </select>
                    <button id="filter_button" type="submit">Показать</button>
                </fieldset>
            </form>
        </div>
    </aside>

    <article>

        <h3>
            <p>Накладная: {{ invoice_title }}</p>
            <p>Дата поступления: {{ invoice_date }}</p>
            <p>Номер накладной: {{ invoice_number }}</p>
            <p>Постащик: {{ provider_surname }}</p>
            <p>Всего {{len_products}} изделий, общим весом {{total_weight}} грамм</p>
        </h3>


        <form method="post" action="{% url 'save_incoming_invoice' %}" id="save_products">
            {% csrf_token %}
        </form>
        {% if num_pages|length > 1 %}
            <div class="pages_list">
                {% for num in num_pages %}
                    <form action="{% url 'upload_file' %}" method="post">
                        {% csrf_token%}
                        <input type="text" value="{{num}}" name="page_num" hidden>
                        <button type="submit">{{ num }}</button>
                    </form>
                {% endfor %}
            </div>
        {% endif %}


        <table class="table">
            <tr class="table_header">
                <th>№</th>
                <th>Изделие</th>
                <th>Металл</th>
                <th>Артикул</th>
                <th>Штрихкод</th>
                <th>УИН</th>
                <th>Вес</th>
                <th>Размер</th>
                <th>Цена</th>
            </tr>

            {% for product in product_list %}
                <tr class="table_row">
                    <td>{{product.number}}</td>
                    <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.name"
                                      value="{{product.name}}" checked form="save_products">
                        {{product.name}}</td>

                    <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.metal"
                                      value="{{product.metal}}" checked form="save_products" >
                        {{ product.metal }}</td>

                    <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.vendor_code"
                                      value="{{product.vendor_code}}" checked form="save_products">
                        {{ product.vendor_code }}</td>

                    <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.barcode"
                                      value="{{product.barcode}}" checked form="save_products">
                        {{ product.barcode }}</td>

                    <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.uin"
                                      value="{{product.uin}}" checked form="save_products">
                        {{ product.uin }}</td>

                    <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.weight"
                                      value="{{product.weight}}" checked form="save_products">
                        {{ product.weight }}</td>

                    <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.size"
                                      value="{{product.size}}" checked form="save_products">
                        {{ product.size }}</td>

                    <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.price"
                                      value="{{product.price}}" checked form="save_products">
                        {{ product.price }}</td>

                </tr>
                {% for prod in prod_list %}
                    {% if prod.number == product.number%}
                    <tr class="table_row">
                        <td></td>
                        <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.name"
                                          value="{{prod.name}}" form="save_products">
                            {{prod.name}}</td>

                        <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.metal"
                                          value="{{prod.metal}}" form="save_products">
                            {{ prod.metal }}</td>

                        <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.vendor_code"
                                          value="{{prod.vendor_code}}" form="save_products">
                            {{ prod.vendor_code }}</td>

                        <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.barcode"
                                          value="{{prod.barcode}}" form="save_products">
                            {{ prod.barcode }}</td>

                        <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.uin"
                                          value="{{prod.uin}}" form="save_products">
                            {{ prod.uin }}</td>

                        <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.weight"
                                          value="{{prod.weight}}" form="save_products">
                            {{ prod.weight }}</td>

                        <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.size"
                                          value="{{prod.size}}" form="save_products">
                            {{ prod.size }}</td>

                        <td nowrap><input class="choice_variant" type="radio" name="{{product.number}}.price"
                                          value="{{prod.price}}" form="save_products">
                            {{ prod.price }}</td>



                    {% endif %}
                {% endfor%}
                    </tr>
                <tr>
                <td colspan="9"></td>
                </tr>
                <tr>
                <td colspan="9"></td>
                </tr>
                <tr>
                <td colspan="9"></td>
                </tr>
                <tr>
                <td colspan="9"></td>
                </tr>
                <tr>
                <td colspan="9"></td>
                </tr>
                <tr>
                <td colspan="9"></td>
                </tr>
            {% endfor %}
        </table>
        {% if num_pages|length > 1 %}
            <div class="pages_list">
                {% for num in num_pages %}
                    <form action="{% url 'upload_file' %}" method="post">
                        {% csrf_token%}
                        <input type="text" value="{{num}}" name="page_num" hidden>
                        <button type="submit">{{ num }}</button>
                    </form>
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" form="save_products">Сохранить</button>
    </article>

{% endblock %}