{% extends "product_guide/a-side.html" %}
{% block main %}

    <article>

        <h3>
            <p>Накладная: {{ invoice_title }}</p>
            <p>Дата поступления: {{ invoice_date }}</p>
            <p>Номер накладной: {{ invoice_number }}</p>
            <p>Постащик: {{ provider }}</p>
            <p>Всего {{len_products}} изделий, общим весом {{total_weight}} грамм</p>
        </h3>

        {% for product in product_list %}
            <form method="post" action="{% url 'change_attr' %}" id="change{{product.number}}">
                {% csrf_token %}
            </form>
            <form method="post" action="{% url 'delete_line' %}" id="delete{{product.number}}">
                {% csrf_token %}
            </form>
        {% endfor %}

        <table class="table">
            <tr class="table_header">
                <th>№</th>
                <th>Изделие</th>
                <th>Металл</th>
                <th>Артикул</th>
                <th>Штрихкод</th>
                <th>УИН</th>
                <th>Вес</th>
                <th>Размер</th>
                <th>Цена</th>
            </tr>
            {{my_string}}
        </table>
        {% for num in num_pages %}
            <form action="{% url 'product_base' %}" method="post">
                {% csrf_token%}
                <input type="text" value="{{num}}" name="page" hidden>
                <button type="submit">{{ num }}</button>
            </form>
        {% endfor %}
        <form method="get" action="{% url 'download_nomenclature' %}">
            <input type="text" value="{{ file_path }}" name="file_path" hidden>
            <button type="submit">Скачать файл</button>
        </form>
    </article>

{% endblock %}
