{% extends "product_guide/a-side.html" %}
{% block main %}



    <article>
        <h5> Всего {{len_products}} изделий общим весом {{total_weight}} грамм</h5>
        {% if num_pages|length > 1 %}
            <div class="pages_list">
                {% for num in num_pages %}
                    <form action="{% url 'upload_file' %}" method="post">
                        {% csrf_token%}
                        <input type="text" value="{{num}}" name="page_num" hidden>
                        <button type="submit">{{ num }}</button>
                    </form>
                {% endfor %}
            </div>
        {% endif %}

        <table class="table">
            <tr class="table_header">
                <th>№</th>
                <th>Изделие</th>
                <th>Металл</th>
                <th>Вес</th>
                <th>Артикул</th>
                <th>Штрихкод</th>
                <th>УИН</th>
                <th>Статус ГИИС</th>
                <th>Цена</th>
            </tr>

            {% for product in product_list %}

                <tr class="table_row">
                    <td>{{product.number}}</td>
                    <td><input disabled type="text" value="{{ product.name }}" name="product.name"> </td>
                    <td><input disabled type="text" value="{{ product.metal }}" name="product.metal" style="width: 11ch"> </td>
                    <td><input disabled type="text" value="{{ product.weight }}" name="product.weight"> </td>
                    <td><input disabled type="text" value="{{ product.vendor_code }}" name="product.vendor_code" style="width: 20ch"> </td>
                    <td><input disabled type="text" value="{{ product.barcode }}" name="product.barcode" style="width: 14ch"> </td>
                    <td><input disabled type="text" value="{{ product.uin }}" name="product.uin" style="width: 17ch"> </td>
                    <td><input disabled type="text" value="{{ product.giis_status }}" name="product.giis_status" style="width: 12ch"> </td>
                    <td><input disabled type="text" value="{{ product.price }}" name="product.price"> </td>
                    <td><button class="openModal_{{product.number}}">Показать</button></td>
                </tr>

                <dialog class="modal modal_{{product.number}}">
                    <div class="wrapper">
                        <div class="modalWindow">
                            <button class="closeModal closeModal_{{product.number}}">X</button>
                            <div class="modal_title">
                                <h1>Подробное описание товара.</h1>
                            </div>
                            <div class="modal_descr">
                                <div class="attr_name">
                                    <p>Изделие</p>
                                    <p>Металл</p>
                                    <p>Артикул</p>
                                    <p>Штриxкод</p>
                                    <p>Уин</p>
                                    <p>Вес</p>
                                    <p>Размер</p>
                                    <p>Цена</p>
                                    <p>Статус наличия</p>
                                    <p>Статус ГИИС</p>
                                    <p>Производитель</p>
                                    <p></p>
                                </div>
                                <div class="attr_value">
                                    <p>{{product.name}}</p>
                                    <p>{{product.metal}}</p>
                                    <p>{{product.vendor_code}}</p>
                                    <p>{{product.barcode}}</p>
                                    <p>{{product.uin}}</p>
                                    <p>{{product.weight}} грамм</p>
                                    <p>{{product.size}} размер</p>
                                    <p>{{product.price}} рублей</p>
                                    <p>{{product.availability_status}}</p>
                                    <p>{{product.giis_status}}</p>
                                    <p>{{product.manufacturer}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </dialog>
                <script>
                    const openModal_{{product.number}} = document.querySelector('.openModal_{{product.number}}');
                    const modal_{{product.number}} = document.querySelector('.modal_{{product.number}}');
                    const closeModal_{{product.number}} = document.querySelector('.closeModal_{{product.number}}')

                    openModal_{{product.number}}.addEventListener('click', () => {modal_{{product.number}}.showModal()})
                    closeModal_{{product.number}}.addEventListener('click', () => {modal_{{product.number}}.close()})
                    modal_{{product.number}}.addEventListener('click', (e) => {if(e.target === modal_{{product.number}}) modal_{{product.number}}.close()})
                </script>
            {% endfor %}
        </table>
        {% if num_pages|length > 1 %}
            <div class="pages_list">
                {% for num in num_pages %}
                    <form action="{% url 'upload_file' %}" method="post">
                        {% csrf_token%}
                        <input type="text" value="{{num}}" name="page_num" hidden>
                        <button type="submit">{{ num }}</button>
                    </form>
                {% endfor %}
            </div>
        {% endif %}
        <form method="get" action="{% url 'save_products' %}">
        <button type="submit">Сохранить изделия в базе данных</button>
        </form>
    </article>
{% endblock %}
