{% extends "product_guide/a-side.html" %}
{% load product_guide_tags %}
{% block main %}

    <article>
        <h5> Всего {{len_products}} изделий общим весом {{total_weight}} грамм</h5>
        {% if num_pages|length > 1 %}
            <div class="pages_list">
                {% for num in num_pages %}
                    <form action="{% url 'product_base' %}" method="post">
                        {% csrf_token%}
                        <input type="text" value="{{num}}" name="page_num" hidden>
                        <button type="submit">{{ num }}</button>
                    </form>
                {% endfor %}
            </div>
        {% endif %}

        <table class="table">
            <tr class="table_header">
                <th>№</th>
                <th>Изделие</th>
                <th>Металл</th>
                <th>Вес</th>
                <th>Артикул</th>
                <th>Штрихкод</th>
                <th>УИН</th>
                <th>Статус ГИИС</th>
                <th>Статус нал-я</th>
            </tr>

            {% for product in product_list %}

                <tr class="table_row">
                    <td>{{product.number}}</td>
                    <td><input disabled type="text" value="{{ product.name }}" name="product.name"> </td>
                    <td><input disabled type="text" value="{{ product.metal }}" name="product.metal" style="width: 7ch"> </td>
                    <td><input disabled type="text" value="{{ product.weight }}" name="product.weight"> </td>
                    <td><input disabled type="text" value="{{ product.vendor_code }}" name="product.vendor_code" style="width: 10ch"> </td>
                    <td><input disabled type="text" value="{{ product.barcode }}" name="product.barcode" style="width: 14ch"> </td>
                    <td><input disabled type="text" value="{{ product.uin }}" name="product.uin" style="width: 17ch"> </td>
                    <td><input disabled type="text" value="{{ product.giis_status }}" name="product.giis_status" style="width: 12ch"> </td>
                    <td><input disabled type="text" value="{{ product.availability_status }}" name="product.availability_status" style="width: 12ch"> </td>
                    <td><button class="openModal_{{product.number}}">Показать</button></td>
                </tr>

                <dialog class="modal modal_{{product.number}}">
                    <div class="wrapper">
                        <div class="modalWindow">
                            <a href="/admin/product_guide/jewelry/{{product.id}}/change/" target="_blank">Изменить</a>
                            <button class="closeModal closeModal_{{product.number}}">X</button>
                            <div class="modal_title">
                                <h1>Подробное описание товара.</h1>
                            </div>
                            <div class="modal_descr">
                                <div class="attr_name">
                                    {% for attr_name in product.keys %}
                                        {% if attr_name != 'number' %}
                                        {% if attr_name != 'id' %}
                                        {% if attr_name != 'recipient_surname' %}
                                        {% if attr_name != 'outgoing_invoice_number' %}
                                            <p>{% field_name attr_name %}</p>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="attr_value">
                                    {% for attr_name, value in product.items %}
                                        {% if attr_name != 'number' %}
                                        {% if attr_name != 'id' %}
                                        {% if value and value != None  %}
                                        {% if attr_name != 'recipient_surname' %}
                                        {% if attr_name != 'outgoing_invoice_number' %}
                                        {% if attr_name == 'recipient_id' %}
                                            <p>{{product.recipient_surname}}</p>
                                        {% else %}
                                        {% if attr_name == 'outgoing_invoice_id' %}
                                        <p>{{product.outgoing_invoice_number}}</p>
                                        {% else %}
                                            <p>{{value}}</p>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% else %}
                                            <p>---</p>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}


                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </dialog>
                <script>
                    const openModal_{{product.number}} = document.querySelector('.openModal_{{product.number}}');
                    const modal_{{product.number}} = document.querySelector('.modal_{{product.number}}');
                    const closeModal_{{product.number}} = document.querySelector('.closeModal_{{product.number}}')

                    openModal_{{product.number}}.addEventListener('click', () => {modal_{{product.number}}.showModal()})
                    closeModal_{{product.number}}.addEventListener('click', () => {modal_{{product.number}}.close()})
                    modal_{{product.number}}.addEventListener('click', (e) => {if(e.target === modal_{{product.number}}) modal_{{product.number}}.close()})
                </script>
            {% endfor %}
        </table>
        {% if num_pages|length > 1 %}
            <div class="pages_list">
                {% for num in num_pages %}
                    <form action="{% url 'product_base' %}" method="post">
                        {% csrf_token%}
                        <input type="text" value="{{num}}" name="page_num" hidden>
                        <button type="submit">{{ num }}</button>
                    </form>
                {% endfor %}
            </div>
        {% endif %}
    </article>
{% endblock %}
